/* General styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
/* MAIN */
.main-container {
    border-radius: 10px; /* Add border radius for better appearance */
    overflow: auto;
    background-color: #FFF;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.toast.active ~ button {
    pointer-events: none;
}

.top-container,
.dos-row,
.uno-row {
    overflow: hidden; /* Remove scrolling */
}


/*TOP*/
.top-container {
    display: flex;
    justify-content: space-between; /* Space between the elements */
    align-items: center; /* Center content vertically */
    background-color: #FFF;
    padding: 5px 10px; /* Adjust padding to make the container smaller */
    height: 50px;
}

.top {
    margin: 0;
    font-size: 25px;
    color: #333;
}

    .top h1 {
        font-size: 25px;
        color: #333;
    }

.top-buttons {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: relative;
}


    .top-buttons::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        left: 10px;
    }

.mydict {
    margin-left: 25px;
    margin-bottom: 10px;
}

    .mydict label {
        margin-right: 10px;
    }

    /*RADIO*/
    /* Container for radio buttons */
    .mydict div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        justify-content: center;
    }

/* Hide the default radio button input */
.radio-button {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

    /* Custom radio button styling */
    .radio-button + span {
        padding: 0.375em 0.75em;
        cursor: pointer;
        background-color: #f7f3e6;
        color: #B4890A;
        border: 1.5px solid #f0e7ce;
        border-radius: 0.375em;
        margin: 0 0.0625em;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }

        /* Hover state for custom radio button */
        .radio-button + span:hover {
            background-color: #e1cf9d;
            border-color: #d9c484;
        }

    /* Checked state for custom radio button */
    .radio-button:checked + span {
        background-color: red; /* Updated background color */
        color: #FFF;
        border-color: #B4890A;
        box-shadow: 0 0 0 0.0625em #b5c9fc;
        animation: radioSelect 0.3s ease-in-out forwards;
    }

@keyframes radioSelect {
    from {
        background-color: #fff;
        color: #5d5e5d;
        border-color: #f0e7ce;
    }

    to {
        background-color: red;
        color: #B4890A; /* Updated text color */
        border-color: #B4890A;
        box-shadow: 0 0 0 0.0625em #b5c9fc;
    }
}

/* Custom label styling */
label {
    position: relative;
    color: #5d5e5d;
}

    /* Rounded corners for the first and last custom radio button */
    label:first-child span {
        border-radius: 0.375em 0 0 0.375em;
    }

    label:last-child span {
        border-radius: 0 0.375em 0.375em 0;
    }

/* Adjustments for spacing between radio buttons */
.mydict div label:nth-child(1) {
    margin-right: -1px;
}

.mydict div label:nth-child(2) {
    margin-left: -1px;
}

/* Focus styling for accessibility */
.radio-button:focus + span {
    outline: 0;
    border-color: #B4890A;
    box-shadow: 0 0 0 4px #d9c484;
}

/* Custom label styling */
label {
    position: relative;
    color: #5d5e5d;
}

    /* Rounded corners for the first and last custom radio button */
    label:first-child span {
        border-radius: 0.375em 0 0 0.375em;
    }

    label:last-child span {
        border-radius: 0 0.375em 0.375em 0;
    }

/* Adjustments for spacing between radio buttons */
.mydict div label:nth-child(1) {
    margin-right: -1px;
}

.mydict div label:nth-child(2) {
    margin-left: -1px;
}

/* Focus styling for accessibility */
.radio-button:focus + span {
    outline: 0;
    border-color: #B4890A;
    box-shadow: 0 0 0 4px #d9c484;
}



/*DOWNLOAD*/
.button-add .download-button {
    color: white;
    background-color: #B4890A;
    border-radius: 0.375rem;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
}

    .button-add .download-button:hover {
        background-color: #946b08;
    }

    .button-add .download-button i {
        margin-right: 0.5rem;
    }

/*TOGGLE*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Adjust as necessary for your design */
    height: 25px; /* Adjust as necessary for your design */
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px; /* Ensures the slider has rounded corners */
}

    /* The circle inside the slider */
    .slider:before {
        position: absolute;
        content: "";
        height: 21px; /* Adjust as necessary for your design */
        width: 21px; /* Adjust as necessary for your design */
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%; /* Ensures the circle is perfectly round */
    }

input:checked + .slider {
    background-color: #4cd964;
}

    input:checked + .slider:before {
        transform: translateX(24px); /* Adjust as necessary for your design */
    }

/* Rounded slider */
.slider.round {
    border-radius: 50px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* MAIN */


/* UNO ROW */
.uno-row {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0.375rem;
    gap: 20px;
}
/* SEARCH BAR */
.custom-search-bar {
    position: relative;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    padding: 0 0.75rem;
    transition: border-radius 0.5s ease;
}

    .custom-search-bar:focus-within {
        border-radius: 1px;
    }

    .custom-search-bar:before {
        content: "";
        position: absolute;
        background: #B4890A;
        transform: scaleX(0);
        transform-origin: left;
        width: 92%;
        height: 2px;
        bottom: 0;
        border-radius: 1px;
        transition: transform 0.3s ease;
    }

    .custom-search-bar:focus-within:before {
        transform: scaleX(1);
    }

    .custom-search-bar input[type="text"],
    .custom-search-bar input[type="search"] {
        font-size: 0.875rem;
        background-color: transparent;
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 0.5rem;
    }

    .custom-search-bar i {
        color: #9ca3af;
    }


button:hover {
    border-color: #B4890A;
    border-width: 1px;
    border-style: solid;
}

.dropdown-toggle {
    width: 180px;
    height: 40px; /* Adjust height */
    padding: 12px; /* Adjust padding for larger size */
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    color: #181918;
    background-color: white;
    box-sizing: border-box;
    font-size: 13px; /* Adjust font size */
    text-align: left; /* Align text to the left */
    position: relative; /* Add relative positioning */
}

    .dropdown-toggle i.bx {
        position: absolute;
        right: 10px; /* Position the icon to the right */
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px; /* Adjust the size of the icon */
    }

.dropdown-menu {
    width: 180px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .dropdown-menu.show {
        display: block; /* Show the dropdown when 'show' class is present */
    }

    .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.show {
    display: block;
}



/*DROPDOWN*/
.select-controls {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.select-date input,
.select-device select,
.select-status select {
    width: 200px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    color: #181918;
    background-color: white;
    box-sizing: border-box;
}

    .select-date input:focus,
    .select-device select:focus,
    .select-status select:focus {
        border-color: #B4890A;
        outline: none; /* Remove default outline */
    }

    .select-device select:hover,
    .select-device select:focus,
    .select-status select:hover,
    .select-status select:focus {
        border-color: #B4890A;
        border-width: 1px;
        border-style: solid;
    }

    /* Styles for the placeholder */
    .select-device select option[disabled],
    .select-status select option[disabled] {
        color: #6b7280;
    }

    /* Styles for the selected option */
    .select-device select option[selected],
    .select-status select option[selected] {
        display: none;
    }




/* Button Styles */
.search-button {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    cursor: pointer;
    box-sizing: border-box;
}



/* Ensure the button looks consistent across different browsers */
input[type="submit"].search-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ALIGN CONTAINER */
.align-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #FFF
}


.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-row {
    justify-content: flex-end;
}

/* DOS ROW */
.dos-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px;
}

/* Entries dropdown container */
.entries-dropdown {
    flex: 1;
    display: flex;
    align-items: center;
}

    /* Dropdown style */
    .entries-dropdown select {
        padding: 10px; /* Increased padding */
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        color: #181918;
        background-color: white;
        width: 100px; /* Increased width */
        transition: border-color 0.3s ease; /* Animation for border color */
        margin-left: 0px; /* Adjusted margin */
        margin-right: 10px; /* Added margin */
    }

    .entries-dropdown label,
    .entries-dropdown span.label {
        font-size: 16px; /* Font size */
        color: #656575; /* Label color */
        margin-right: 5px; /* Adjusted margin */
        margin-left: 10px; /* Adjusted margin */
    }

    /* Hover and focus states for dropdown */
    .entries-dropdown select:hover,
    .entries-dropdown select:focus {
        border-color: #B4890A; /* Highlight border color */
        border-width: 2px;
    }

    .entries-dropdown input[type="text"] {
        width: 160px;
        height: 25px;
        padding: 5px;
        border: 1px solid #e0e0e0;
        border-radius: 0.375rem;
        font-size: 16px;
        outline: none;
    }

.right-align {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btn-calculate {
    background-color: #B4890A;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .btn-calculate:hover {
        background-color: #946b08;
    }

/*FOR ALL*/
/* General styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
/* MAIN */
.main-container {
    border-radius: 10px; /* Add border radius for better appearance */
    overflow: auto;
    background-color: #FFF;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.toast.active ~ button {
    pointer-events: none;
}

.top-container,
.dos-row,
.uno-row {
    overflow: hidden; /* Remove scrolling */
}


/*TOP*/
.top-container {
    display: flex;
    justify-content: space-between; /* Space between the elements */
    align-items: center; /* Center content vertically */
    background-color: #FFF;
    padding: 5px 10px; /* Adjust padding to make the container smaller */
    height: 50px;
}

.top {
    margin: 0;
    font-size: 25px;
    color: #333;
}

    .top h1 {
        font-size: 25px;
        color: #333;
    }

.top-buttons {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: relative;
}


    .top-buttons::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ccc;
        left: 10px;
    }

.mydict {
    margin-left: 25px;
    margin-bottom: 10px;
}

    .mydict label {
        margin-right: 10px;
    }

    /*RADIO*/
    /* Container for radio buttons */
    .mydict div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        justify-content: center;
    }

/* Hide the default radio button input */
.radio-button {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

    /* Custom radio button styling */
    .radio-button + span {
        padding: 0.375em 0.75em;
        cursor: pointer;
        background-color: #f7f3e6;
        color: #B4890A;
        border: 1.5px solid #f0e7ce;
        border-radius: 0.375em;
        margin: 0 0.0625em;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }

        /* Hover state for custom radio button */
        .radio-button + span:hover {
            background-color: #e1cf9d;
            border-color: #d9c484;
        }

    /* Checked state for custom radio button */
    .radio-button:checked + span {
        background-color: red; /* Updated background color */
        color: #FFF;
        border-color: #B4890A;
        box-shadow: 0 0 0 0.0625em #b5c9fc;
        animation: radioSelect 0.3s ease-in-out forwards;
    }

@keyframes radioSelect {
    from {
        background-color: #fff;
        color: #5d5e5d;
        border-color: #f0e7ce;
    }

    to {
        background-color: red;
        color: #B4890A; /* Updated text color */
        border-color: #B4890A;
        box-shadow: 0 0 0 0.0625em #b5c9fc;
    }
}

/* Custom label styling */
label {
    position: relative;
    color: #5d5e5d;
}

    /* Rounded corners for the first and last custom radio button */
    label:first-child span {
        border-radius: 0.375em 0 0 0.375em;
    }

    label:last-child span {
        border-radius: 0 0.375em 0.375em 0;
    }

/* Adjustments for spacing between radio buttons */
.mydict div label:nth-child(1) {
    margin-right: -1px;
}

.mydict div label:nth-child(2) {
    margin-left: -1px;
}

/* Focus styling for accessibility */
.radio-button:focus + span {
    outline: 0;
    border-color: #B4890A;
    box-shadow: 0 0 0 4px #d9c484;
}

/* Custom label styling */
label {
    position: relative;
    color: #5d5e5d;
}

    /* Rounded corners for the first and last custom radio button */
    label:first-child span {
        border-radius: 0.375em 0 0 0.375em;
    }

    label:last-child span {
        border-radius: 0 0.375em 0.375em 0;
    }

/* Adjustments for spacing between radio buttons */
.mydict div label:nth-child(1) {
    margin-right: -1px;
}

.mydict div label:nth-child(2) {
    margin-left: -1px;
}

/* Focus styling for accessibility */
.radio-button:focus + span {
    outline: 0;
    border-color: #B4890A;
    box-shadow: 0 0 0 4px #d9c484;
}



/*DOWNLOAD*/
.button-add .download-button {
    color: white;
    background-color: #B4890A;
    border-radius: 0.375rem;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
}

    .button-add .download-button:hover {
        background-color: #946b08;
    }

    .button-add .download-button i {
        margin-right: 0.5rem;
    }

/*TOGGLE*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Adjust as necessary for your design */
    height: 25px; /* Adjust as necessary for your design */
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 50px; /* Ensures the slider has rounded corners */
}

    /* The circle inside the slider */
    .slider:before {
        position: absolute;
        content: "";
        height: 21px; /* Adjust as necessary for your design */
        width: 21px; /* Adjust as necessary for your design */
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%; /* Ensures the circle is perfectly round */
    }

input:checked + .slider {
    background-color: #4cd964;
}

    input:checked + .slider:before {
        transform: translateX(24px); /* Adjust as necessary for your design */
    }

/* Rounded slider */
.slider.round {
    border-radius: 50px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* MAIN */


/* UNO ROW */
.uno-row {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0.375rem;
    gap: 20px;
}
/* SEARCH BAR */
.custom-search-bar {
    position: relative;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    padding: 0 0.75rem;
    transition: border-radius 0.5s ease;
}

    .custom-search-bar:focus-within {
        border-radius: 1px;
    }

    .custom-search-bar:before {
        content: "";
        position: absolute;
        background: #B4890A;
        transform: scaleX(0);
        transform-origin: left;
        width: 92%;
        height: 2px;
        bottom: 0;
        border-radius: 1px;
        transition: transform 0.3s ease;
    }

    .custom-search-bar:focus-within:before {
        transform: scaleX(1);
    }

    .custom-search-bar input[type="text"],
    .custom-search-bar input[type="search"] {
        font-size: 0.875rem;
        background-color: transparent;
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 0.5rem;
    }

    .custom-search-bar i {
        color: #9ca3af;
    }


button:hover {
    border-color: #B4890A;
    border-width: 1px;
    border-style: solid;
}

.dropdown-toggle {
    width: 180px;
    height: 40px; /* Adjust height */
    padding: 12px; /* Adjust padding for larger size */
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    color: #181918;
    background-color: white;
    box-sizing: border-box;
    font-size: 13px; /* Adjust font size */
    text-align: left; /* Align text to the left */
    position: relative; /* Add relative positioning */
}

    .dropdown-toggle i.bx {
        position: absolute;
        right: 10px; /* Position the icon to the right */
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px; /* Adjust the size of the icon */
    }

.dropdown-menu {
    width: 180px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .dropdown-menu.show {
        display: block; /* Show the dropdown when 'show' class is present */
    }

    .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.show {
    display: block;
}



/*DROPDOWN*/
.select-controls {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.select-date input,
.select-device select,
.select-status select {
    width: 200px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    color: #181918;
    background-color: white;
    box-sizing: border-box;
}

    .select-date input:focus,
    .select-device select:focus,
    .select-status select:focus {
        border-color: #B4890A;
        outline: none; /* Remove default outline */
    }

    .select-device select:hover,
    .select-device select:focus,
    .select-status select:hover,
    .select-status select:focus {
        border-color: #B4890A;
        border-width: 1px;
        border-style: solid;
    }

    /* Styles for the placeholder */
    .select-device select option[disabled],
    .select-status select option[disabled] {
        color: #6b7280;
    }

    /* Styles for the selected option */
    .select-device select option[selected],
    .select-status select option[selected] {
        display: none;
    }




/* Button Styles */
.search-button {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    cursor: pointer;
    box-sizing: border-box;
}



/* Ensure the button looks consistent across different browsers */
input[type="submit"].search-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ALIGN CONTAINER */
.align-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #FFF
}


.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-row {
    justify-content: flex-end;
}

/* DOS ROW */
.dos-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px;
}

/* Entries dropdown container */
.entries-dropdown {
    flex: 1;
    display: flex;
    align-items: center;
}

    /* Dropdown style */
    .entries-dropdown select {
        padding: 10px; /* Increased padding */
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        color: #181918;
        background-color: white;
        width: 100px; /* Increased width */
        transition: border-color 0.3s ease; /* Animation for border color */
        margin-left: 0px; /* Adjusted margin */
        margin-right: 10px; /* Added margin */
    }

    .entries-dropdown label,
    .entries-dropdown span.label {
        font-size: 16px; /* Font size */
        color: #656575; /* Label color */
        margin-right: 5px; /* Adjusted margin */
        margin-left: 10px; /* Adjusted margin */
    }

    /* Hover and focus states for dropdown */
    .entries-dropdown select:hover,
    .entries-dropdown select:focus {
        border-color: #B4890A; /* Highlight border color */
        border-width: 2px;
    }

    .entries-dropdown input[type="text"] {
        width: 160px;
        height: 25px;
        padding: 5px;
        border: 1px solid #e0e0e0;
        border-radius: 0.375rem;
        font-size: 16px;
        outline: none;
    }

.right-align {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btn-calculate {
    background-color: #B4890A;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .btn-calculate:hover {
        background-color: #946b08;
    }


/* Ensure GridView fits within screen width without scrolling */
.grid-wrapper {
    width: 100%;
    margin-bottom: 1px; /* Space between grid views */
    overflow: hidden; /* Prevent horizontal scrolling */
}

/* Common styles for gridview (fewer columns) */
.gridview {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 6px;
    display: table;
}

    .gridview th,
    .gridview td {
        border: none;
        padding: 2px 4px; /* Adjust padding to fit text better */
        text-align: center;
        font-size: 7px; /* Smaller font size to fit text */
        line-height: 1.5;
        overflow: hidden;
        white-space: nowrap; /* Prevent text wrapping */
        text-overflow: clip; /* Avoid ellipsis, allow text to fit */
        width: 12.5%; /* 100% divided by 8 columns (12.5% each) */
    }

    .gridview th {
        background-color: #f1f1f1;
        color: #181918;
        font-weight: bold;
        font-size: 10px;
    }

    .gridview tr {
        display: table-row;
        width: 100%;
    }

        .gridview tr:nth-child(even) {
            background-color: #FFF;
        }

        .gridview tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .gridview tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

/* Common styles for gridview-all (more columns) */
.gridview-all {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 6px;
    flex-wrap: wrap; /* Flexbox for flexible columns */
    overflow: hidden; /* Prevent horizontal scrolling */
}

    .gridview-all th,
    .gridview-all td {
        border: none;
        padding: 2px 4px; /* Adjust padding to fit text better */
        text-align: left;
        font-size: 7px; /* Smaller font size to fit text */
        line-height: 1.2;
        overflow: hidden;
        white-space: nowrap; /* Prevent text wrapping */
        text-overflow: clip; /* Avoid ellipsis, allow text to fit */
        flex: 1; /* Make columns flexible */
    }

    .gridview-all th {
        background-color: #f1f1f1;
        color: #181918;
        font-weight: bold;
        font-size: 12px;
    }

    .gridview-all tr {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .gridview-all tr:nth-child(even) {
        background-color: #fff;
    }

    .gridview-all tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .gridview-all tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

        .gridview-all tr:hover td {
            background-color: transparent; /* Remove background color on hover */
        }

/* Ensure no padding and margin on the alert */
.alert {
    margin: 0; /* Adjust as needed */
    padding: 0; /* Adjust as needed */
    border-radius: 6px;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}



/* GRID */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden
}

.gridview {
    flex: 1;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 1px solid #e5e7eb;
    background-color: white;
    border-radius: 0.375rem;
    table-layout: fixed;
    overflow: hidden;
}

    .gridview th, .gridview td {
        border: none;
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 12px;
        line-height: 1.5;
    }

    .gridview td {
    }

    .gridview th {
        background-color: #f1f1f1;
        color: #181918;
        font-weight: bold;
        font-size: 13px;
        padding: 2px;
    }

    .gridview tr:nth-child(even) {
        background-color: #FFF;
    }

    .gridview tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .gridview tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

/*STATUS*/
.status-container,
.status-column,
.status-box,
.status-box-pending,
.status-box-rejected,
.status-box-healthy {
    padding: 0 !important;
    margin: 0 !important;
}


.status-container {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    overflow: hidden;
}

.status-column {
    display: flex;
    flex-direction: column; /* Stack status boxes vertically */
    overflow: hidden;
}

.status-box {
    font-weight: 600;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.status-box-pending {
    background-color: #fcf5ea;
    color: #e6a23c;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.status-box-rejected {
    background-color: #fcd5d4;
    color: #c0392b;
    font-size: 11px;
    border-radius: 1px;
    padding: 0;
    margin: 0;
}

.status-box-healthy {
    background-color: #d3faf0;
    color: #09bc6f;
    font-size: 11px;
    border-radius: 1px;
    padding: 0;
    margin: 0;
}

.legend {
    font-size: 12px;
}

.status-indicator {
    font-size: 12px;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 5480px) and (min-height: 3137px) {
    .gridview {
        font-size: 20px;
    }

        .gridview th, .gridview td {
            font-size: 20px;
        }

        .gridview th {
            font-size: 30px;
            padding: 10px;
        }

    .status-box {
        font-size: 25px;
        padding: 2px 10px;
    }

    .status-box-pending,
    .status-box-rejected,
    .status-box-healthy {
        font-size: 25px;
        padding: 2px 10px;
    }

    .legend {
        font-size: 50px;
    }

    .status-indicator {
        font-size: 50px;
    }
}
