* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Using Montserrat font */
    box-sizing: border-box;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 1;
}

.bg-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(180, 137, 10, 0.1), rgba(180, 137, 10, 0.1)), url('/assets/img/background@2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.text-form {
    flex: 1;
    padding: 5px 20px 30px;
    top: 10px;
    color: #ffffff;
}

.welcome h1 {
    font-size: 15px;
    margin: 0;
    position: relative;
    padding-left: 110px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.world h1 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
}

.login-form {
    width: 450px; /* Fixed width */
    height: 600px; /* Fixed height */
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
    background-color: #FFF;
    padding: 50px 60px 70px; /* Adjusted padding */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #181918;
}

/* BACK */
.back-button {
    position: absolute;
    top: 20px;
    left: 50px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #181918;
}

    .back-button i {
        font-size: 24px;
        margin-right: 5px;
    }

/* TOP TEXTFIELD */
.logo {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 20px;
}

.login-form h1 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.mesage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

    .mesage h1 {
        font-size: 25px;
        margin: 20px 0 10px;
        color: #181918;
    }

    .mesage p {
        margin: 0;
    }

    .mesage .your-password {
        margin-bottom: 5px;
    }

    .mesage .click-below {
        margin-top: 0px; /* Add a top margin to push it higher */
    }


.login-text {
    margin-bottom: 50px;
}

.login-form {
    font-size: 13px;
    margin: 0;
    text-align: left;
    color: #8B8D97;
    text-align: center;
}

/* TEXTFIELD */
.input-group {
    margin-bottom: 20px;
}

.input-field {
    display: flex;
    align-items: center;
    background: #F6F6FA;
    border-radius: 3px;
    margin-bottom: 10px;
}

    .input-field p {
        position: absolute;
        bottom: 5px; /* Adjust this value to change the distance between the input field and the text */
        left: 0;
        font-size: 13px;
        color: #8B8D97; /* Adjust text color as needed */
    }

    .input-field i {
        margin-left: 15px;
        color: #909199;
    }

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

/* eye */
.toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
}

    .toggle i {
        color: #909199;
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

        .toggle i:hover {
            color: #777;
        }

/* MUST BE */
.login-form p {
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: 10px;
}

.password-checklist {
    position: absolute;
    top: 400px;
    width: 74%;
    padding: 20px 30px;
    background: red;
    border-radius: 5px;
}

.checklist {
    list-style: none;
}

.list-item {
    padding-left: 30px;
    color: #FFF;
    font-size: 14px;
}

    .list-item::before {
        content: '\f00d';
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: inline-block;
        margin: 8px 0;
        margin-left: -30px;
        width: 20px;
        font-size: 12px;
    }

    .list-item.checked {
        opacity: 0.5;
    }

/* BUTTON */
/* BUTTON */
.btn-field {
    position: absolute;
    bottom: 60px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 72%;
}

    .btn-field .styled-button {
        width: 100%;
        background: #EFEFEE;
        color: #181918;
        height: 50px;
        border: none;
        transition: background 0.3s, color 0.3s;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

        .btn-field .styled-button:hover {
            background: #B4890A;
            color: #EFEFEE;
        }

/* Ensure styling is applied to the input element rendered by asp:Button */
.styled-button input {
    width: 100%;
    background: #EFEFEE;
    color: #181918;
    height: 50px;
    border: none;
    transition: background 0.3s, color 0.3s;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    line-height: 50px; /* Center text vertically */
}

    .styled-button input:hover {
        background: #B4890A;
        color: #EFEFEE;
    }


/* SUCCESS MESSAGE */
.success-message {
    text-align: center;
    padding: 50px 20px;
}

    .success-message h1 {
        font-size: 25px;
        margin-top: 20px;
    }

    .success-message p {
        font-size: 16px;
        margin-top: 10px;
    }

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

    .success-checkmark .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
    }

        .success-checkmark .check-icon::before,
        .success-checkmark .check-icon::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }

        .success-checkmark .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        .success-checkmark .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        .success-checkmark .check-icon .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
        }

            .success-checkmark .check-icon .icon-line.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            .success-checkmark .check-icon .icon-line.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }

        .success-checkmark .check-icon .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }

        .success-checkmark .check-icon .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/* RESPONSIVE */
/* smaller screens */
@media only screen and (max-width: 768px) {
    .bg-container {
        flex-direction: column;
    }

    .login-form {
        order: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 450px;
        margin-bottom: 10px;
        background-color: #FFF;
        padding: 50px 60px 70px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #181918;
    }

    .text-form {
        display: none;
    }
}
/* RESPONSIVE */
/* Responsive styling for smaller screens */
@media only screen and (max-width: 768px) {
    .bg-container {
        flex-direction: column;
    }

    .login-form {
        order: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 450px;
        margin-bottom: 10px;
        background-color: #FFF;
        padding: 50px 60px 70px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #181918;
    }

    .text-form {
        display: none;
    }
}

